<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmz.serverorder.mapper.GameSystemsMapper">

    <!-- 批量插入 -->
    <insert id="insertBatch">
        insert into tb_jmz_game_systems (game_id, system_id)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.gameId}, #{item.systemId})
        </foreach>
    </insert>

    <!-- 根据gameId删除所有关联 -->
    <delete id="deleteByGameId">
        delete from tb_jmz_game_systems where game_id = #{gameId}
    </delete>

</mapper> 